@CHARSET "UTF-8";

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	background-color: #ffffff;
}

#cabecera {
	height: 100px;
	widht: 100%;
	background-color: LightBlue;
}

.cuerpo {
	overflow: hidden;
	clear: both;
}

.cuerpo .altura {
	float: left;
	padding-bottom: 100000px;
	margin-bottom: -100000px;
}

#izquierda {
	text-align: center;
	margin-top: 1%;
	width: 75%;
	background-color: LightSteelBlue;
}

#derecha {
	margin-left: 1%;
	width: 24%;
	background-color: Navy;
	text-align: center;
	margin-top: 1%;
	color: White;
}

#pie {
	margin-top: 1%;
	float: left;
	height: 50px;
	width: 100%;
	background-color: LightBlue;
	text-align: left;
}

table {
	margin-top: 10px;
	text-align: center;
	font-size: 1em;
}

th {
	font-size: 1.5em;
	padding: 10px 10px 10px 10px;
	background-color: Navy;
	color: #ffffff;
}

td {
	padding: 2.5px 2.5px 2.5px 5px;
}

tr.impar {
	background-color: RoyalBlue;
}

tr.par {
	background-color: White;
}

h1 {
	font-size: 3.5em;
	line-height: 100px;
	text-align: right;
	color: Navy;
}

#seccion {
	font-weight: bold;
	text-indent: 10px;
	line-height: 1.5em;
	color: White;
	text-align: left;
	font-size: 2em;
	background-color: Navy;
}

#usuario {
	font-weight: bold;
	text-indent: 10px;
	line-height: 2em;
	color: White;
	text-align: right;
	font-size: 1.5em;
	background-color: Black;
	text-transform: capitalize;
}

#opcion {
	font-weight: bold;
	text-indent: 10px;
	line-height: 2em;
	color: White;
	text-align: right;
	font-size: 1.5em;
	background-color: Navy;
	margin-right: 5%;
}

.boton {
	background: Navy;
	/*  	padding: 8px 50px; */
	color: white;
	font-size: 1em;
	vertical-align: middle;
	font-weight: bold;
}

.boton:hover {
	background: White;
	color: Navy;
}

.boton:active {
	border-top-color: #ffffff;
	background: #ffffff;
}

.error {
	background-color: #FFFFCC;
	padding: 0.5em;
	color: red;
	font-weight: bold;
}

/*
h2 { font-size:14px; line-height:16px; text-transform:capitalize;}
h3 { font-size:12px; line-height:14px; text-transform: uppercase; color:#000; }
h4 { font-size:12px; line-height:14px; text-transform: uppercase; color:#000; }
h5 { font-size:80px; line-height:80px; } */